.dzen {
  // .dzen__label
  &__label {
    padding-left: 26px;
    margin-bottom: 10px;

    position: relative;

    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
  }

  // .dzen__icon
  &__icon {
    height: 40px;
    width: 40px;

    position: absolute;
    left: -8px;
    top: -8px;

    transform: scale(0.54);
  }

  // .dzen__disc
  &__disc {
    padding-left: 4px;
    opacity: 0.4;

    font-size: 13px;
    font-weight: 400;
  }

  // .dzen__area
  &__area {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 12px;
    row-gap: 10px;
  }

  // .dzen__card
  &__card {
    height: 450px;
    padding: 6px;
    display: flex;
    flex-direction: column;

    position: relative;

    border-radius: 18px;
    .shadow-plate;

    // .dzen__card._span_2
    &._span_2 {
      grid-column: span 2;
    }

    // .dzen__card._span_3
    &._span_3 {
      grid-column: span 3;
    }

    // .dzen__card._span_5
    &._span_5 {
      grid-column: span 5;
    }
  }

  // .dzen__content
  &__content {
    width: 100%;
    height: 100%;

    position: absolute;

    z-index: 2;
    border-radius: inherit;

    background-color: @page-bacground;
  }

  // .dzen__spinner
  &__spinner {
    height: 50px;
    grid-column: span 5;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    border-radius: 18px;
    .shadow-plate;

    // .dzen__spinner::before
    &::before {
      content: ' ';
      height: 25px;
      width: 25px;
      position: absolute;

      border-radius: 50%;
      border-top: 1px solid gray;

      animation: spinner 0.5s linear infinite;
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
