.dzen {
  // .dzen__label
  &__label {
    padding-left: 26px;
    margin-bottom: 10px;

    position: relative;

    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
  }

  // .dzen__icon
  &__icon {
    height: 40px;
    width: 40px;

    position: absolute;
    left: -8px;
    top: -8px;

    transform: scale(0.54);
  }

  // .dzen__disc
  &__disc {
    padding-left: 4px;
    opacity: 0.4;

    font-size: 13px;
    font-weight: 400;
    // con
  }

  &__area {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 12px;
    row-gap: 10px;
  }

  &__card {
    height: 450px;
    padding: 6px;
    display: flex;
    flex-direction: column;

    position: relative;

    border-radius: 18px;
    .shadow-plate;

    &._span_2 {
      grid-column: span 2;
    }

    &._span_3 {
      grid-column: span 3;
    }

    &._span_5 {
      grid-column: span 5;
    }
  }

  &__content {
    width: 100%;
    height: 100%;

    position: absolute;

    z-index: 2;
    border-radius: inherit;

    background-color: @page-bacground;
  }
}
