.homepage {
  width: @wrapper-width;

  display: flex;
  align-items: center;
  flex-direction: column;

  position: relative;

  background-color: @page-bacground;

  .font-YS-base;

  // homepage__status-bar
  &__status-bar {
    height: 40px;
    width: @wrapper-width;
    margin-top: 5px;
    padding: 0 200px 0 20px;

    display: flex;
    justify-content: space-between;

    color: @status-bar-gray;
  }

  // homepage__info-plate
  &__info-plate {
    height: 190px;
    width: @main-content-width;
  }

  // homepage__search
  &__search {
    height: 145px;
    width: @main-content-width;
  }

  // homepage__dzen
  &__dzen {
    width: @main-content-width;
    padding: 8px 16px 0;
  }

  // homepage__account-info
  &__account-desc {
    position: absolute;
    top: 0px;
    right: 3px;

    height: 220px;
    width: 180px;
  }

  &__svg-store {
    &._hidden {
      .hidden();
    }
  }
}
