.hidden() {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0 0 0 0);
}

.status-bar-nav-icon() {
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.24;

  transition: opacity 0.15s ease-out;

  // .card-icon:hover
  &:hover {
    opacity: 0.32;
  }
}
